/*:root {
    --color-primary:#364F6B;
    --color-secondary:#3FC1C9;
    --color-tertiary:#F5F5F5;
    --color-quarternary:#FC5185;
}*/

.login-header {
    color: #364F6B
}

.login-form-container{
    margin-top:10%;
}

.login-button {
    background-color: #364F6B;
    color: #F5F5F5;
}

    .login-button:hover, :focus {
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    }

    .redirect-to-register:hover, :focus {
        background-color: #F5F5F5;
        color: #364F6B
    }
