@inject IPostService PostService


<h3>BrowsePosts</h3>

@if (isLoadedSuccessfully)
{
	<ul>
		@foreach (var post in response.Data!)
		{
			<li class="browse-post-list-item">
				<div class="browse-post-item-container">
					<div class="browse-post-image-quote-container">
						<div class="browse-post-image-container">
							<img src="/images/bulldog.jpg" class="rounded float-start browse-post-image" alt="dog-image">
						</div>
						<div class="browse-post-paragraph">
							<p>@post.Description</p>

						</div>
					</div>
					<div class="browse-post-author">
						<span> ~ @post.AuthorName</span>
					</div>
				</div>
			</li>
		}
	</ul>
}


@code {

	ServiceResponse<List<GetPostDTO>> response = new();
	private bool isLoaded = false;
	private bool isLoading = false;
	private bool isLoadedSuccessfully = false;
	private string responseMessage = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		isLoading = true;
		response = await PostService.GetAllBetween(1, 5);

		if (response.IsSuccessful)
		{
			isLoaded = true;
			isLoading = false;
			isLoadedSuccessfully = true;
		}
		else
		{
			isLoaded = true;
			isLoading = false;
			isLoadedSuccessfully = false;
			responseMessage = response.Message;
		}

	}
}
