<h3>BrowsePosts</h3>

<ul>
	<li class="browse-post-list-item">
		<div class="browse-post-item-container">
			<div class="browse-post-image-quote-container">
				<div class="browse-post-image-container">
					<img src="/images/bulldog.jpg" class="rounded float-start browse-post-image" alt="dog-image">
				</div>
				<div class="browse-post-paragraph">
					<p>All the good dogs go to heaven</p>

				</div>
			</div>
			<div class="browse-post-author">
				<span> ~ Bulldog</span>
			</div>
		</div>
	</li>
	<li class="browse-post-list-item">
		<div class="browse-post-item-container">
			<div class="browse-post-image-quote-container">
				<div class="browse-post-image-container">
					<img src="/images/bulldog.jpg" class="rounded float-start browse-post-image" alt="dog-image">
				</div>
				<div class="browse-post-paragraph">
					<p>All the good dogs go to heaven All the good dogs go to heaven All the good dogs go to heaven All the good dogs go to heaven</p>

				</div>
			</div>
			<div class="browse-post-author">
				<span> ~ Bulldog</span>
			</div>
		</div>
	</li>
	<li class="browse-post-list-item">
		<div class="browse-post-item-container">
			<div class="browse-post-image-quote-container">
				<div class="browse-post-image-container">
					<img src="/images/bulldog.jpg" class="rounded float-start browse-post-image" alt="dog-image">
				</div>
				<div class="browse-post-paragraph">
					<p>All the good dogs go to heaven</p>

				</div>
			</div>
			<div class="browse-post-author">
				<span> ~ Bulldog</span>
			</div>
		</div>
	</li>

</ul>


@code {

}
